.sticky-noteBox {
    background-color: #ffffff;
    /*border: solid 2px #000000;*/
    padding: 5px;
}

.mint-noteBox {
    border: 2px solid #a5a5a5;
    border-radius: 12px;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 10px;
    padding-top: 15px;
    color: #ffffff;
    selected-color: #000000;
    selection-background-color: #ffffff;
    caret-size: 1px;
    caret-color: #ffffff;
}

.mint-noteBox:focus {
    background-color: rgba(80, 80, 80, 1);
}

.mint-noteBox StScrollBar {
    min-width: 8px;
}

.mint-noteBox StBin#trough {
    background-color: rgba(0,0,0,0);
    border: 1px solid #555555;
    border-radius: 4px;
}

.mint-noteBox StButton#vhandle {
    background-color: rgba(90,90,90,1);
    border: 1px solid rgba(90,90,90,1);
    border-radius: 4px;
}

.mint-noteBox StButton#vhandle:hover {
    background-color: rgba(100,100,100,1);
}

.mintx-noteBox {
    border-image: url("bg-1.png") 6;
    padding: 10px;
    padding-top: 15px;
    color: rgb(70,70,70);
    selected-color: #ffffff;
    selection-background-color: #accd8a;
    caret-size: 1px;
    caret-color: #000000;
}

.mintx-noteBox:focus {
    background-color: #FFFF00;
}

.mintx-noteBox StScrollBar {
    min-width: 8px;
}

.mintx-noteBox StBin#trough {
    background-color: rgba(0,0,0,0);
}

.mintx-noteBox StButton#vhandle {
    background-color: rgb(216,216,216);
    border: 1px solid #949494;
    border-radius: 6px;
}

.mintx-noteBox StButton#vhandle:hover {
    background-color: rgb(200,200,200);
    border: 1px solid #949494;
}

.yellow-noteBox {
    background-color: #F8FF42;
    padding: 10px;
    padding-top: 15px;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #6598cb;
    caret-size: 1px;
    caret-color: #000000;
    box-shadow: 2px 2px 7px;
}

.yellow-noteBox:focus {
    background-color: #FFFF00;
}

.yellow-noteBox StScrollBar {
    min-width: 10px;
}

.yellow-noteBox StBin#trough {
    background-color: #C9C900;
}

.yellow-noteBox StButton#vhandle {
    background-color: #E5E500;
    border-radius: 0px;
}

.red-noteBox {
    background-color: #FF4242;
    padding: 7px;
    padding-top: 15px;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #7CC663;
    caret-size: 1px;
    caret-color: #000000;
    box-shadow: 2px 2px 7px;
}

.red-noteBox:focus {
    background-color: #FF0000;
}

.red-noteBox StScrollBar {
    min-width: 10px;
}

.red-noteBox StBin#trough {
    background-color: #C60000;
}

.red-noteBox StButton#vhandle {
    background-color: #E20000;
    border-radius: 0px;
}

.blue-noteBox {
    background-color: #4281FF;
    padding: 7px;
    padding-top: 15px;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-size: 1px;
    caret-color: #000000;
    box-shadow: 2px 2px 7px;
}

.blue-noteBox:focus {
    background-color: #0055FF;
}

.blue-noteBox StScrollBar {
    min-width: 10px;
}

.blue-noteBox StBin#trough {
    background-color: #0042C6;
}

.blue-noteBox StButton#vhandle {
    background-color: #004BE2;
    border-radius: 0px;
}

.green-noteBox {
    background-color: #42FF42;
    padding: 7px;
    padding-top: 15px;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C96464;
    caret-size: 1px;
    caret-color: #000000;
    box-shadow: 2px 2px 7px;
}

.green-noteBox:focus {
    background-color: #00FF00;
}

.green-noteBox StScrollBar {
    min-width: 10px;
}

.green-noteBox StBin#trough {
    background-color: #00C600;
    border-color: transparent;
}

.green-noteBox StButton#vhandle {
    background-color: #00E200;
    border-radius: 0px;
    border-color: transparent;
}
