.sticky-noteBox {
    background-color: #ffffff;
    border: solid 2px #000000;
    padding: 5px;
}

.yellow-noteBox {
    background-color: #F8FF42;
    padding: 7px;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #6598cb;
    caret-size: 1px;
    caret-color: #000000;
}

.yellow-noteBox:focus {
    background-color: #FFFF00;
}

.yellow-scrollBox StBin#trough {
    background-color: #C9C900;
}

.yellow-scrollBox StButton#vhandle {
    background-color: #E5E500;
    border-radius: 0px;
}
